/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
.idea
.byebug_history
.DS_Store
hyperstack-addons-*.gem
local_gems
/spec/dummy/node_modules/
/spec/dummy/tmp/
/spec/dummy/public/assets/
/spec/dummy/public/packs*/
/spec/dummy/log/*.log
/spec/dummy/db/*.sqlite3
/.rspec_status
/spec/dummy/.bundle
